.Expences{
  background-color:#282c34;
  color: white;
  text-align: center;
}
.App{
  padding: 5% 5% 0% 5%;
}
body {
  background-color: #666666;
  font-size: larger;
  font-weight: bold;
}

h1 {
  text-align: center;
}

div{
  align-items: center;
  align-content: end;
}