.Expenceprice {
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #400080;
    color: #ffffff;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid white;
    font-size: 25px;
    width: 220px;
    height: auto;
    text-align: center;
  }