.expencedate {
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #282c34;
  color: #ffffff;
  margin: 0px;
  border-radius: 20px;
  padding: 10px;
  border: 3px solid white;
  width: 122px;
  height: auto;
}
.day {
  font-size: 30px;
  margin: 0px;
}
.month {
  font-size: 20px;
  margin: 0px;
}
.year {
  font-size: 15px;
  margin: 0px;
}
